<h1 class="heading -large">{{ available.title }}</h1>

<button type="button" ng-click="available.tableParams.filter({})" class="btn btn-primary clear-filters">Clear Filters</button>

<table ng-table="available.tableParams" show-filter="true" class="table table-striped table-bordered player-table">
    <tbody>
        <tr ng-repeat="player in $data">
            <td data-title="'Name'" filter="{ 'name': 'text' }">{{::player.name}}</td>
            <td data-title="'Team'">{{::player.team}}</td>
            <td data-title="'Pos'" filter="{ 'pos': 'text' }">{{::player.pos}}</td>
            <td data-title="'Status'">{{::player.status}}</td>
            <td data-title="'PTS'">{{::player.pts}}</td>
            <td><button type="button" ng-click="available.removePlayer( player )" class="btn btn-danger btn-sm">Remove</button></td>
        </tr>
    </tbody>
</table>
