<h1 class="heading -large">{{ available.title }}</h1>

<table class="table table-striped table-bordered">
    <tbody>
        <tr ng-repeat="pitcher in available.pitchers">
            <td>{{::pitcher.name}}</td>
            <td>{{::pitcher.team}}</td>
            <td>{{::pitcher.pos.toString()}}</td>
            <td>{{::pitcher.status}}</td>
            <td>{{::pitcher.ip}}</td>
            <td>{{::pitcher.er}}</td>
            <td>{{::pitcher.k}}</td>
            <td>{{::pitcher.cg}}</td>
            <td>{{::pitcher.so}}</td>
            <td>{{::pitcher.w}}</td>
            <td>{{::pitcher.sv}}</td>
            <td>{{::pitcher.pts}}</td>
        </tr>
    </tbody>
</table>
