@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

.player-table tr td:last-child {
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

button.clear-filters {
    margin-bottom: 2px;
}
